@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body
{
    margin: 0;
    padding: 0;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header
{
    width: 100%;
    background: linear-gradient(45deg, #3498db, #2c3e50);
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
}
header ul
{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
header ul li
{
   list-style: none;
   position: relative;
   padding: 15px 10px;
   transition: 0.3s;
   box-sizing: border-box;
   border-bottom: 2px solid transparent;
   width: 100%;

}
header ul li a
{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 0.3s;
}
header ul li:last-child
{
    border-bottom: none;
}
header ul li ul
{
    position: absolute;
    top: 100%;
    left: 0;
    background: #2980b9;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
header ul li:hover 
{
    background: #2c3e50;
    border-bottom: 2px solid #ecf0f1;
}
header ul li:hover a
{
   color: #ffffff;
}
header ul li:hover ul
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
header ul li ul li:last-child
{
    border-bottom: none;
}
header ul li ul li a 
{
    color: #ffffff;
    font-size: 14px;
    transition: color 0.3s;
}
/* making responsive */
@media only screen and (max-width: 768px)
{
   header ul  
   {
    flex-direction: column;
    align-items: center;
   }
   header ul li 
   {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid transparent;
   }
   header ul li:last-child 
   {
    border-bottom: none;
   }
   header ul li ul 
   {
    display: none;

   }
   header ul li:hover ul 
   {
    display: block;
    position: relative;
    width: 100%;
   }
}
