html,body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#E9EEF7,#0632f8);
}
h1
{
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
}
.contact-form
{
    font-size: 20px;
    color: #000;
    width: 400px;
    margin: 0 auto;
}
form
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #e7e307;

}
label
{
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}
input, textarea
{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button
{
    padding: 10px 15px;
    background-color: #ff0040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover
{
    background: #8105e7;
}
